.card-holder {
  width: 48%;
  height: 30%;
  border-radius: 40px;
  background-color: #f9c0c0;
  box-shadow: 10px 10px #b3e0af;
  color: white;
  // border: 3px solid pink;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}