.guess{
  // width: 100vw;
  height: 20vh;
  border: 3px black solid;
  // display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  width: 80vw;
  height: 10vh;
  border: 3px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enterButton {
  border: 5px green solid;
}