
.answer {
  
  margin-bottom: 1rem;
  font-size: xxx-large;
}


.backArrow .back {
  display: flex;
}

.allArrows {
  display: flex;

}

.arrow-container{
  display: flex;
  flex-direction: row;
  
}

// label {
//   display: block;
//   background: lightgrey;
//   width: 100px;
//   height: 100px;
// }

// #demo:checked + label {
//   background: #F9C0C0;
//   color: white;
// }
