.ad {
  width: 100vw;
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em; }

.fontTitleJoke {
  font-size: 4em;
  margin-bottom: 1em; }

.fontJoke {
  font-size: xxx-large; }
