.dad {
  display: flex;
  flex-direction: column; }

.left-click {
  z-index: 100; }

.right-click {
  z-index: 100; }

.dad-joke .joke-text {
  color: #64748B; }

.arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem; }

#arrow-icon {
  color: #64748B !important; }
